body {
    background-color: #000;
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    height: 100vh;
    padding-left: 37vw;
}

canvas {
    background-color: #000;
}
