@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@500&display=swap');
*{
    margin: 0;
    padding: 0;
    font-family: 'poppins',sans-serif;
}

section{
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
  width: 100%;

  background: url("../images/background.jpg") fixed no-repeat;
  background-position: center;
  background-size: cover;
  color: white;
}

.banner {
    position: absolute;
    width: 80%;
    height: 32px;
    background: transparent;
    border: 2px solid rgba(255,255,255,0.5);
    margin: 15px 0;
    /*border-radius: 20px;*/
    /*backdrop-filter: blur(15px);*/
    display: flex;
    float:left;
    justify-content: right;
    align-items: center;
    transform: translateX(10%);
}

.banner txtLogin{
  position: absolute;
  transform: translateX(-20%);
}

a:link, a:visited, a:hover, a:active{
  color:white;
  text-decoration: none;
}

.nav_box{
  position: absolute;
  width: 260px;
  background: black;
  border: 2px solid rgb(56, 36, 24);
  display: flex;
  justify-content: left;
  align-items: center;
}

.nav_box navLink{
  color: green;
}
